/*
Web Programming Fall 2020
Author: Wyland Crews
Date: 09/23/2020
Validated: Yes, http://jigsaw.w3.org/css-validator/validator
*/

h1 {
	color: red;
	margin-left: 2cm;
}

h2 {
	color: red;
	margin-left: 4cm;
}

/* There is no stylistic difference between Paragraph 1 and Paragraph 2 */	

p {
	text-indent: 2cm;
	color: darkred;
	margin-left: 6cm;
}	